@import "tailwindcss";


@layer base {

  @font-face {
    font-family: "iranSans";
    src: url('../src/font/IRANSansWeb.woff2') format('woff2');
    font-display: swap;


  }

  html {
  scroll-behavior: smooth;
}

  body {
    font-family: iransans;
    background: rgba(249, 252, 253, 1);
  }


  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  ins {
    text-decoration: none;
  }

  .tab-btn.active {
    background-color: rgba(240, 195, 124, 1);
  }
  .tab-btn{
    background: #fff;
  }



.fixed-tabs .container{
  transition: all 0.4s;


}

.fixed-tabs.fixed a {
  height: 40px;
}

#faq .accordion-item{
  background-color: rgba(255, 255, 255, 1);
}

.modal{
  background-color: #212f49e6;
  filter: blur(1);
}
.scroll-hidden {
  overflow: auto;     
  scrollbar-width: none;   
  -ms-overflow-style: none; 
}

.scroll-hidden::-webkit-scrollbar {
  display: none;

}


  .overflow-scroll::-webkit-scrollbar {
    display: none;
  }



  @keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-mobile {
  animation: slideUp 0.3s ease-out forwards;
}




#bottomBox , #bottomBox button{
  box-shadow: 0px -7px 4px 0 #cecece;;
}







}

@layer components {

  body {
    /* @apply font-iranSans; */
  }

  .account-btn {
    @apply gap-2 h-11 flex items-center justify-center content-center border-sky-500 border rounded-lg p-4
  }

  .shopping-cart {
    @apply rounded-lg flex items-center justify-center h-11 w-11 bg-sky-500
  }

  .search-btn {
    @apply rounded-lg flex items-center justify-center h-11 w-11 bg-amber-50
  }

  .container {
    @apply m-auto
  }

  .discunt-btn {
    @apply rounded-lg flex items-center justify-center h-11 w-max px-4 text-amber-500 gap-2 bg-amber-50
  }

  .has-sub-menu {
    @apply hover:font-semibold relative hover:text-sky-500 hover:fill-sky-500 h-10
  }

  .menu {
    @apply hover:font-semibold relative hover:text-sky-500 hover:fill-sky-500 h-20 flex items-center
  }

  .sub-menu {
    @apply absolute top-16 hidden bg-white shadow-lg shadow-gray-300 rounded-b-2xl mt-2 w-max
  }

  /* .color-main{
    color: rgba(32, 154, 255, 1);
  }
  .color-primary{
    color: rgba(255, 156, 0, 1);
  } */



  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    @apply text-white flex items-center justify-center !text-sm bg-gray-300 rounded-full w-8 h-7
  }

  .swiper-slide-thumb-active {
    @apply border-amber-500! border-2 rounded-xl
  }


  .swiper-pagination-bullet{
    @apply w-4! h-4!
  }


  article .swiper-slide {
    @apply border border-gray-300 rounded-xl
  }

  .thumbs_movie .swiper-slide:nth-child(4) {
    @apply blur-xs border-0
  }


  .gap-y-3 > li:nth-child(even) 

  {
    @apply pr-4
  }


  .gap-y-3 > li:nth-child(odd) 

  {
    @apply pl-4
  }
  

  .add-to-cart{
    @apply flex justify-center md:gap-3 gap-1.5 text-center  items-center 
  }

  .quantity{
    @apply border border-sky-500 md:rounded-lg rounded md:w-[54px] w-7 h-7 md:h-[54px] text-center
  }

  .quantity-number{
    @apply px-3 py-1 md:h-[54px] h-7 w-5 md:w-11 border border-sky-500 text-sky-500 md:rounded-lg rounded flex items-center justify-center
  }

    .fixed-tabs  {
    @apply z-20 bg-gray-50 p-4 top-36 rounded-xl transition-opacity left-0 right-0
  }

  .fixed-tabs .container {
    @apply flex items-center justify-between bg-gray-50 rounded-xl m-auto  transition-opacity
  }

  .fixed-tabs.fixed{
    @apply p-0
  }

  .fixed-tabs.fixed a , .fixed-tabs.fixed button {
    @apply h-10! flex items-center
  }

  .fixed-tabs.fixed .container {
    @apply w-full py-2
  }


  .fixed-tabs a.active{
  
    @apply text-sky-500 font-bold
  }


  .accordion-btn{
    @apply  w-full flex justify-between items-center px-4 py-2 font-medium h-[52px]
  }

  #faq .accordion-content{
    @apply  px-4  text-gray-600 text-right
  }

  
  .accordion-content{
    @apply  p-4  text-gray-600 text-right flex flex-col
  }

  .accordion-more-btn{
    @apply flex items-center w-fit p-3 h-9 rounded-full gap-2 text-black bg-sky-200 my-4
  }


  .specifications-feature{
    @apply bg-white h-10 flex items-center md:p-4 p-2 md:rounded-xl rounded text-right font-medium w-1/3 md:w-1/4
  }

  
  .specifications-value{
    @apply bg-white h-10 flex items-center md:p-4 p-2 md:rounded-xl rounded text-right font-medium w-2/3 md:w-3/4
  }


  .counseling-btn{
    @apply text-sky-800 bg-sky-100 hover:bg-sky-200 text-center m-auto mt-4 h-[46px] p-4 rounded-lg text-xl flex items-center w-fit gap-3
  }

  .radio-btn{
  @apply w-4 h-4 rounded-full border-2 outline-2 outline-amber-500 border-white peer-checked:border-white peer-checked:outline-amber-500 peer-checked:bg-amber-500
}

.star-rating{
  @apply cursor-pointer text-gray-400 peer-checked:text-yellow-400
}



.comment-support-btn{
  @apply  text-sky-800 bg-sky-100 h-[46px] p-4 rounded-lg text-xl flex items-center w-fit gap-3
}

#comment-list  ol > li{

  @apply bg-gray-50 p-4 rounded-lg
}

.comment-author{
  @apply text-2xl font-medium 
}

.comment-author-role{
  @apply text-lg text-sky-500
}

.comment-meta{
  @apply  flex items-center justify-between
}
.comment-content{ 
  @apply text-gray-900 p-4 py-2 rounded-lg text-right bg-white
}

.comment-footer{
  @apply flex items-center justify-between
}

.comment-reply{
  @apply flex gap-2 text-sky-500 fill-sky-500
}












footer .e-namad > *{

  @apply p-2 bg-white block

}



footer .e-namad img{

  @apply w-40 h-40 block

}




}


@layer utilities {




    .scrollbar-hide {
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE/Edge legacy */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;                /* Chrome/Safari */
  }



  @media(min-width:640px) {}


  @media(max-width:640px) {
    .container {
      /* background-color: red; */
      max-width: 90%;


    }

    .products .swiper-slide{
      margin-top: 20px;
      margin-bottom: 20px;
      flex-wrap: wrap;
    }

    /* .products .swiper-slide a img{
      width: 30%;
    } */

  }


  @media (max-width:976px) {}


  @media (max-width:1024px) {}

  @media (min-width:1280px) {
    .container {
      @apply max-w-[1300px] m-auto
    }
  }


  @media (max-width:992px) {
    .container {
      /* @apply max-w-[986px] m-auto */
    }
  }



  @media ((max-width: 1024px)) and (min-width: 768px) {
    .container {
      /* background-color: red; */
      /* font-size: 20px; */
      max-width: 95%;
    }
  }


  @media(max-width:640px) {}

  @media (max-width:380px) {}




}

