@import "tailwindcss";


@layer base {

  @font-face {
    font-family: "iranSans";
    src: url('../src/font/IRANSansWeb.woff2') format('woff2');
    font-display: swap;


  }

  html {
  scroll-behavior: smooth;
}

  body {
    font-family: iransans;
    background: rgba(249, 252, 253, 1);
  }


  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  ins {
    text-decoration: none;
  }

  .tab-btn.active {
    background-color: rgba(240, 195, 124, 1);
  }
  .tab-btn{
    background: #fff;
  }



.fixed-tabs .container{
  transition: all 0.4s;


}

.fixed-tabs.fixed a {
  height: 40px;
}

#faq .accordion-item{
  background-color: rgba(255, 255, 255, 1);
}

.modal{
  background-color: #212f49e6;
  filter: blur(1);
}
.scroll-hidden {
  overflow: auto;     
  scrollbar-width: none;   
  -ms-overflow-style: none; 
}

.scroll-hidden::-webkit-scrollbar {
  display: none;

}


  .overflow-scroll::-webkit-scrollbar {
    display: none;
  }



  @keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-mobile {
  animation: slideUp 0.3s ease-out forwards;
}




#bottomBox , #bottomBox button{
  box-shadow: 0px -7px 4px 0 #cecece;;
}

.more-content > h3:before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100px;
    right: 8px;
    top: 22px;
    position: absolute;
    background: #FF9C00;
}


.bg-change img{
  filter: blur(10px);
}


.bg-change::before {
    content: "";
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 15px;
    background: radial-gradient(circle, rgb(0, 156, 239) 50%, rgba(15, 0, 0, 0) 37%) 0px 0px / 17px 13px repeat-x;
    z-index: 100;
}



.menu-item .submenu li{
  position: relative;
}

.menu-item .submenu li:before {
    content: '';
    width: 4px;
    height: 4px;
    background: #808184;
    position: absolute;
    right: 0;
    top: 15px;
    border-radius: 50px;
}

.menu-item.group ul , .search-btn section{
  box-shadow: #00000025 0 8px 12px 0;
}




}

@layer components {

  body {
    /* @apply font-iranSans; */
  }

  .account-btn {
    @apply gap-2 h-11 flex items-center justify-center content-center border-sky-500 border rounded-lg p-4
  }

  .shopping-cart {
    @apply rounded-lg flex items-center justify-center h-11 w-11 bg-sky-500
  }

  .search-btn {
    @apply rounded-lg flex items-center justify-center h-11 w-11 bg-amber-50
  }

  .container {
    @apply m-auto
  }

  .discunt-btn {
    @apply rounded-lg flex items-center justify-center h-11 w-max px-4 text-amber-500 gap-2 bg-amber-50
  }

  .has-sub-menu {
    @apply hover:font-semibold relative hover:text-sky-500 hover:fill-sky-500 h-10
  }

  .menu-item {
    @apply hover:font-semibold relative hover:text-sky-500 hover:fill-sky-500 h-20 flex items-center
  }

  .sub-menu {
    @apply absolute top-16 hidden bg-white shadow-lg shadow-gray-300 rounded-b-2xl mt-2 w-max
  }

  /* .color-main{
    color: rgba(32, 154, 255, 1);
  }
  .color-primary{
    color: rgba(255, 156, 0, 1);
  } */

  .search-resault{
    @apply   flex-col group-hover:flex absolute top-[54px] right-0 w-[365px] p-4 rounded-b-xl bg-white
  }



  .swiper-button-prev:after, .swiper-button-next:after {
    @apply text-white flex items-center justify-center !text-sm bg-gray-300 rounded-full w-8 h-7
  }

  .swiper-slide-thumb-active {
    @apply border-amber-500! border-2 rounded-xl
  }


  .swiper-pagination-bullet{
    @apply w-4! h-4!
  }


  article .swiper-slide {
    @apply border border-gray-300 rounded-xl
  }

  .thumbs_movie .swiper-slide:nth-child(4) {
    @apply blur-xs border-0
  }


  .gap-y-3 > li:nth-child(even) 

  {
    @apply pr-4
  }


  .gap-y-3 > li:nth-child(odd) 

  {
    @apply pl-4
  }
  

  .add-to-cart{
    @apply flex justify-center md:gap-3 gap-1.5 text-center  items-center 
  }

  .quantity{
    @apply border border-sky-500 md:rounded-lg rounded md:w-[54px] w-7 h-7 md:h-[54px] text-center
  }

  .quantity-number{
    @apply px-3 py-1 md:h-[54px] h-7 w-5 md:w-11 border border-sky-500 text-sky-500 md:rounded-lg rounded flex items-center justify-center
  }




  .features{
    @apply grid grid-cols-2 md:grid-cols-4 md:justify-end justify-between md:gap-3 gap-2 gap-y-3 py-7
  }

  .feature-item{

    @apply flex items-center md:gap-2 gap-1 rounded-lg shadow h-14 bg-white md:p-2 p-1
  }



    .fixed-tabs  {
    @apply z-20 bg-gray-50 p-4 top-36 rounded-xl transition-opacity left-0 right-0
  }

  .fixed-tabs .container {
    @apply flex items-center justify-between bg-gray-50 rounded-xl m-auto  transition-opacity
  }

  .fixed-tabs.fixed{
    @apply p-0
  }

  .fixed-tabs.fixed a , .fixed-tabs.fixed button {
    @apply h-10! flex items-center
  }

  .fixed-tabs.fixed .container {
    @apply w-full py-2
  }


  .fixed-tabs a.active{
  
    @apply text-sky-500 font-bold
  }



  .product-detail-btn{
    @apply rounded-lg flex items-center text-center justify-center bg-sky-200 hover:bg-sky-300 md:h-10 h-8 p-2 text-xs font-semibold
  }

  .product-price{
    @apply flex w-full lg:flex-row md:flex-col gap-4 md:items-end items-center justify-between font-medium
  }


  .accordion-btn{
    @apply  w-full flex justify-between items-center px-4 py-2 font-medium h-[52px]
  }

  #faq .accordion-content{
    @apply  px-4  text-gray-600 text-right
  }

  
  .accordion-content{
    @apply  p-4  text-gray-600 text-right flex flex-col
  }

  .accordion-more-btn{
    @apply flex items-center w-fit p-3 h-9 rounded-full gap-2 text-black bg-sky-200 my-4
  }


  .specifications-feature{
    @apply bg-white h-10 flex items-center md:p-4 p-2 md:rounded-xl rounded text-right font-medium w-1/3 md:w-1/4
  }

  
  .specifications-value{
    @apply bg-white h-10 flex items-center md:p-4 p-2 md:rounded-xl rounded text-right font-medium w-2/3 md:w-3/4
  }


  .counseling-btn{
    @apply text-sky-800 bg-sky-100 hover:bg-sky-200 text-center m-auto mt-4 h-[46px] p-4 rounded-lg text-xl flex items-center w-fit gap-3
  }

  .radio-btn{
  @apply w-4 h-4 rounded-full border-2 outline-2 outline-amber-500 border-white peer-checked:border-white peer-checked:outline-amber-500 peer-checked:bg-amber-500
}

.star-rating{
  @apply cursor-pointer text-gray-400 peer-checked:text-yellow-400
}



.comment-support-btn{
  @apply  text-sky-800 bg-sky-100 h-[46px] p-4 rounded-lg text-xl flex items-center w-fit gap-3
}

#comment-list  ol > li{

  @apply bg-gray-50 p-4 rounded-lg
}

.comment-author{
  @apply text-2xl font-medium 
}

.comment-author-role{
  @apply text-lg text-sky-500
}

.comment-meta{
  @apply  flex items-center justify-between
}
.comment-content{ 
  @apply text-gray-900 p-4 py-2 rounded-lg text-right bg-white
}

.comment-footer{
  @apply flex items-center justify-between
}

.comment-reply{
  @apply flex gap-2 text-sky-500 fill-sky-500
}












footer .e-namad > *{

  @apply p-2 bg-white block

}



footer .e-namad img{

  @apply w-40 h-40 block

}

 #mobole-footer ul {
    @apply grid w-[96%] h-12 m-auto max-w-lg grid-cols-5 mx-auto font-bold text-xs gap-2
  }

  #mobole-footer ul li {
    @apply inline-flex flex-col gap-2 items-center justify-center bg-white rounded p-1 relative
  }

  .cart-footer{
    @apply fixed bottom-0 w-[68%] border-t border-t-gray-200
  }
  .cart-btns{
    @apply flex justify-between items-center mb-4 text-white text-sm
  }
  .cart-footer a{
    @apply bg-[#6ABCFF] h-8 px-4 rounded flex items-center justify-center min-w-3/7
  }

  .cart-total{
    @apply flex items-center justify-between py-2
  }

}


@layer utilities {




    .scrollbar-hide {
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE/Edge legacy */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;                /* Chrome/Safari */
  }



  @media(min-width:640px) {}


  @media(max-width:640px) {
    .container {
      /* background-color: red; */
      max-width: 90%;

  
    }

    .products .swiper-slide{
      margin-top: 20px;
      margin-bottom: 20px;
      flex-wrap: wrap;
    }

    /* .products .swiper-slide a img{
      width: 30%;
    } */

    .brand-mobile span::after {
    content: "";
    position: absolute;
    left: 15%;
    transform: translateX(-50%);
    bottom: -8px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 8px solid #D9D9D9;
}

      .brand-mobile span {
        position: absolute;
        width: max-content;
        width: max-content;
        top: -20px;
        right: -28px;
        padding: 1px 5px;
        background-color: #D9D9D9;
        border-radius: 2px;
    }


    .add-to-cart-bg{
      position: absolute;
    width: 110%;
    height: 90px;
    background: #ffffff;
    right: -5%;
    overflow: hidden;
    top: -12px;
    }
 

    .more-content > h3:before {
    width: 6px;
    height: 6px;
    right: 8px;
    top: 16px;

  }

  
  .ir-features li:nth-child(odd){
    padding: 0 !important;
  }

    
  .ir-features li:nth-child(even){
    padding-right: 0 !important;
  }

 .ir-features a {

  text-align: center !important;
 }



 #specifications {
  position: relative;
  max-height: 500px; /* حالت پیش‌فرض */
  overflow: hidden;
  transition: max-height 0.3s ease;
}

 #myContent {
  position: relative;
  max-height: 500px; /* حالت پیش‌فرض */
  overflow: hidden;
  transition: max-height 0.3s ease;
}

#myContent.open  , #specifications.open{
  max-height: none; /* وقتی باز شد */
}
#myContent .swiper-wrapper{
      max-height: inherit;
    overflow: visible;
}

#specifications .more-content{
      max-height: inherit;
    overflow: visible;
}

    #myContent::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 186px;
        background: linear-gradient(to top, #f9fcfd, #f9fcfd00);
        pointer-events: none;
        transition: opacity 0.3s 
ease;
        z-index: 100000;
    }


#toggleBtn2 {
        display: block;
        margin: auto;
        position: relative;
        top: -16px;
        z-index: 1000;
        background: #ffffff;
        padding: 5px 15px;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        color: #209AFF;
        height: 28px;
        font-size: 13px;
    }

#toggleBtn2{

    display: block;
    margin: auto;
    position: relative;
    top: -16px;
    z-index: 1000;
    background: #f9fcfd;
    justify-content: center;
}


#toggleBtn .icon , #toggleBtn2 .icon {
  transition: transform 0.3s ease;
}



    




  }


  @media (max-width:976px) {}


  @media (max-width:1024px) {}

  @media (min-width:1280px) {
    .container {
      @apply max-w-[1300px] m-auto
    }
  }


  @media (max-width:992px) {
    .container {
      /* @apply max-w-[986px] m-auto */
    }
  }



  @media ((max-width: 1024px)) and (min-width: 768px) {
    .container {
      /* background-color: red; */
      /* font-size: 20px; */
      max-width: 95%;
    }
  }


  @media(max-width:640px) {}

  @media (max-width:380px) {}




}

